*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

.wishes {
  --gap: 1rem;
  display: grid;
  gap: var(--gap);
  padding: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: calc(30% - (var(--gap) /2));
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: var(--gap);
  border: solid 0.4rem #de7385;
}
.wishes > * {
  scroll-snap-align: start;
  border: solid 0.4rem #6d0f82;

}