@use './utils/varibles' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {  
  font-size: 62.5%;
}

body {
  font-family: $ff-body;
  font-weight: $fw-body;
  // min-width: 32rem; //this allow navBar to minimized with the all body
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: $clr-accent;
}

:focus {
  outline: 5px solid $clr-accent;
  outline-offset: 3px;
}

.nav {
  display: flex;
  flex-wrap: wrap; // this allow navBar links to wrap down
  justify-content: end;
  list-style: none;
  padding: 1rem;
  background-color: black;
  gap: 1.4rem;
}

.nav > li {
  color: aliceblue;
  font-size: 1.4rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.columns > * {
  flex: 1; //this property makes the columns de same size
  background-color: aquamarine;
  padding: 0.8rem; 
}